
body {
    font-size: 28px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: wheat;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: lightslategrey;
}

.active {
    background-color: wheat;
}

header {
    background-color: black;
    text-align: center;
}

h2 {
    height: 100px;
    text-align: center;
    background-color: red;
    margin: 0;
}

div.gallery {
    border: 3px solid gray;
}

div.gallery:hover {
    border: 3px solid red;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 1400px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 1000px) {
    .responsive {
        width: 100%;
    }
}
